* {
    --color-darkblue: #2c3151;
    --first-color: #f5deb3;
    --second-color: #f5f5dc;
    --color-orange: #f8b914;
}

html, body {
    background-color: var(--color-darkblue);
    color: var(--first-color)
}
a { color: var(--first-link-color); }
/* App */
.app-container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
/* Pages */
.page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #fff;
    span {
        display: block;
        padding-top: 6px;
        padding-left: 16px;
        color: var(--second-color);
        font-size: 24px;
    }
}

.featured-image{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.link-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    background-color: var(--color-orange);
    color: var(--color-darkblue);
    border-radius: 7px;
    text-decoration: none;
}

.credit-url {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 16px;
    color: var(--second-color);
    text-decoration: none;
}